@import "compass/reset";
@import "compass/css3/user-interface";
@import "compass";
@import "susy";

* {
	box-sizing: border-box;
}

//clearfix if needed
.group:after {
  content: "";
  display: table;
  clear: both;
}

//image replacement
.image-replacement {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

img {
	width:100%;
	height: auto;
}