.home-testimonials{

	overflow: hidden;
	padding: 2em;

	.quote{

		overflow: hidden;
		margin: 0.5em 0;
		text-align: center;

		.text{
			font-size: 0.8em;
			font-weight: 100;

			@include at-breakpoint($break-1) {
				font-size: 1.4em;
			}
		}

		.author{
			color: $highlight-colour;
			font-size: 0.6em;

			@include at-breakpoint($break-1) {
				font-size: 0.8em;
			}


		}
	}

}

