@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url(http://themes.googleusercontent.com/static/fonts/opensans/v8/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

body{
	font-size: 100%;
	line-height: 1.5;
	font-family: "Open Sans";
	color: $text-colour;
}

a{
	text-decoration: none;
	color: $dark-link-colour;
}


#{headings(all)}{
	color: $title-colour;
}

.title{
	font-size: 2.4em;
	padding: 0.6em 0 0 0;
	font-weight: 700;
	color: $title-colour;
}

.home-title{
	font-size: 2.4em;
	padding: 0.6em 0 0 0;
	font-weight: 700;
	color: $home-title-colour;
	text-align: center;
}

.heading{

	font-size: 1.4em;
	padding: 0.6em 0 0.1em 0;
	font-weight: 700;
}

.subtitle{
	font-size: 2em;
	padding: 0.6em 0 0.1em 0;
	font-weight: 700;
}

.home-subtitle{
	font-size: 1.2em;
	padding: 0.6em 0 0.1em 0;
	font-weight: 700;
	text-align: center;
}

p {
	margin: 1em 0;
	word-break: break-word;
}

.banner-text{
	font-size: 1.4em;
	padding: 0.6em 0 0.4em 0;
	font-weight: 300;
	color: lighten($title-colour, 50%);
}

.forkongithub {

	position:absolute;
	display:block;
	top:0;
	right:0;
	width:400px;
	overflow:hidden;
	height:200px;

	a{
		background: $header-colour;
		color:$highlight-label-colour;
		text-decoration:none;
		text-align:center;
		font-weight:bold;
		padding:5px 40px;
		font-size:1rem;
		line-height:2rem;
		position:relative;
		transition:0.5s;
		 width:400px;
		 position:absolute;
		 top:60px;
		 right:-120px;
		 transform:rotate(45deg);
		 -webkit-transform:rotate(45deg);
		 box-shadow:4px 4px 10px rgba(0,0,0,0.8);

	}

	a:hover{
		background:$highlight-colour;
	}

	a::before, a::after{
		content:"";
		width:100%;
		display:block;
		position:absolute;
		top:2px;
		left:0;
		height:1px;
		background:$highlight-label-colour;
	}

	a::after{
		bottom:2px;
		top:auto;
	}
}