/*rgb( 205, 162, 124 )
rgb( 78, 67, 57 )
rgb( 223, 214, 210 )
rgb( 142, 115, 93 )
rgb( 156, 116, 89 )
rgb( 132, 100, 60 )
rgb( 116, 84, 52 )
rgb( 108, 100, 100 )*/



$base-font-size: 16px;
$base-line-height: 20px;
$text-colour: #444;
$background-colour: #fff;
$header-colour: #222;
$footer-colour: #e1e1e1;
$border-colour: #999;
$title-colour: #111;
$home-title-colour: #aaa;
$dark-link-colour: #444;
$link-colour: #ddd;
$highlight-colour: #0073b1;
$highlight-label-colour: #fff;
$divider-colour: #e1e1e1;
$section-colour: #eee;

//susy grid
$total-columns: 8;
$column-width: 4em;
$gutter-width: 1.5em;
$grid-padding: $gutter-width;

$break-1: 48em 12;