/*rgb( 205, 162, 124 )
rgb( 78, 67, 57 )
rgb( 223, 214, 210 )
rgb( 142, 115, 93 )
rgb( 156, 116, 89 )
rgb( 132, 100, 60 )
rgb( 116, 84, 52 )
rgb( 108, 100, 100 )*/



$base-font-size: 16px;
$base-line-height: 20px;

$background-colour: #fff;
$header-colour: #222;
$border-colour: #999;
$title-colour: rgb( 78,67,57 );
$link-colour: #ddd;

//susy grid
$total-columns: 8;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: $gutter-width;

$break-1: 48em 12;