---
layout: default
title: Home
appScript: true
---
<section class="highlight-section">
	<h1 class="home-title">I'm a web developer</h1>
	<h2 class="home-subtitle">Using the latest web technologies to build effective sites and applications</h2>
</section>
<section>
	<div class="cycle-slideshow home-testimonials"  data-cycle-slides="> blockquote" data-cycle-timeout="10000">
		{% for post in site.categories.testimonial %}
			<blockquote class="quote">
				<div class="text">{{post.content}}</div>
				<div class="author">{{ post.author}} {%if post.company %} &#64; {% endif %}{{ post.company }}</div>
			</blockquote>
		{% endfor %}
	</div>
	<a href="/start" class="button home centre">Start a project today</a>
</section>