---
layout: default
title: Home
---


<section class="highlight-section">
<h1 class="home-title">Andy Leggett - Freelance Full Stack Developer</h1>
<h2 class="home-subtitle">Using the latest web technologies to build effective sites and applications</h2>
<a href="/contact" class="button home centre">Hire me for {% months_from_now 3 %}</a>
</section>
<section>
	<div class="cycle-slideshow home-testimonials"  data-cycle-slides="> blockquote" data-cycle-timeout="30000">
		{% for post in site.categories.about %}
		<blockquote class="quote">
			<div class="text">{{post.content}}</div>
			<div class="author">{{ post.author}} {%if post.company %} &#64; {% endif %}{{ post.company }}</div>
		</blockquote>
		{% endfor %}
	</div>
</section>