---
layout: default
title: About Me
description: The online profile of Andy Leggett, a full stack web application developer based in Scotland
---
{% include forkme.html %}
<h1 class="title">About me</h1>
<section>
	<div class="group">
		<div class="col-left">
			<h2 class="banner-text">I'm a web developer. </h2>
			<p>I enjoy combining HTML5, CSS3 and Javascript and various backend technologies to create web applications with clean and maintainable code for happy clients.</p>
			<p>Over the years I've worked with lots of companies in different sectors.  These include televison, the car industy and the education sector.
				<p>When I'm not working, you'll find me and my little dog climbing a mountain near my home in Stirling, Scotland  - whatever the weather!</p>
			</div>
			<div class="col-right">
				<img src="/images/me.jpg" alt="It's me" style="width: 90%; margin: 0 auto;display: block;"/>
			</div>
		</div>
	</section>
	<section>
		<div class="group">
			<div class="col-left">
				<h3 class="heading">Development</h3>
				<p>Creating applications that really deliver a great user experience is tough.  Technologies are constantly evolving and this can be overwhelming for clients.</p>
				<p>Making sure that you use development techniques that allow for maintainability well into the future is key.</p>
				<p>It's important to understand the full stack of development.  This allows for a total build capability and an understanding of what's required in different parts of an application when working in a team.</p>
				<p>The speed and ease of use of your application is paramount to rapid engagement. Working with users from the start is the only way to really understand needs.</p>
			</div>
			<div class="col-right">
				<h3 class="heading">Workflow</h3>
				<p>Modern tools allow developers to spend more time on the  of the application rather than dealing with the mechanics of coding.</p>
				<p>I employ many of these in my day-to-day work including Grunt, Bower, Sass and Git.</p>
				<p>Workflow isn't just about tools.  It's also about communication and people.</p>
				<p>Having clients as the major part of the flow means that no one is left in the dark about what is happening in a project and I make it easy for clients to give me feedback and evolve projects.</p>
			</div>
		</div>
	</section>
	<section class="highlight-section">
		<div class="group">
			<h2 class="subtitle">Clients</h2>
			<div class="testimonials">
				{% for post in site.categories.testimonial %}
					<blockquote class="quote">
						<div class="title">{{ post.title }}</div>
						<div class="author">{{ post.author}} {%if post.company %} &#64; {% endif %}{{ post.company }}</div>
						<div class="text">{{post.content}}</div>
					</blockquote>
				{% endfor %}
			</div>
		</div>
	</section>